// Bootstrap color overrides
$primary: red;
$secondary: rgb(193, 190, 190);

// Add a 5% position value
$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
  5: 5%,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom CSS rules

// Icons

.wd-icon-primary {
  color: $primary;
}

.wd-icon-success {
  color: $success;
}

.wd-washed-out {
  filter: contrast(30%) brightness(150%);
}

// Kanbas Navigation

.kanbas-navigation-sidebar {
  width: 80px;
}

.kanbas-navigation-sidebar .nav-link {
  padding: 6 0 6 0;
  font-size: small;
}

.kanbas-navigation-sidebar .nav-link img {
  max-width: 80%;
}

// Dashboard

.dashboard .card-header {
  height: 100px;
}