<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/index.css">

<!--  -->
<!--  -->

<div class="container-fluid">

  <div class="account-navigation-sidebar list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action">
      Notifications
    </a>
    <a href="/kanbas/profile" class="list-group-item list-group-item-action">
      Profile
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Files
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Settings
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      ePortfolios
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      The Hub
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Qwickly Course Tools
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Global Announcements
    </a>
  </div>
</div>