<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/index.css">

<!--  -->
<!--  -->

<div class="container-fluid">

  <div class="dashboard">
    <h4>Published Courses (8)</h4>

    <hr>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

      <div class="col">
        <!-- Relative positioning so that the button sits "on top of" the card
          and does not link to the card's href when clicked -->
        <div class="position-relative">
          <a href="/kanbas/home.html" class="text-decoration-none">
            <div class="card">
              <div class="card-header bg-secondary">
              </div>
              <div class="card-body pt-2 pb-2">
                <h5 class="card-title text-secondary">Course Name</h5>
                <p class="card-text mb-0">Course Code</p>
                <p class="card-text mb-2">Term Code</p>
                <i class="fa-solid fa-book"></i>
              </div>
            </div>
          </a>
          <!-- Added "5%" to Bootstrap $position-values Sass map to use here -->
          <div class="btn-toolbar justify-content-end position-absolute top-5 end-5">
            <button type="button" class="btn">
              <i class="fa-solid fa-ellipsis fa-rotate-90" style="color: white"></i>
            </button>
          </div>
        </div>
      </div>


      <div class="col">
        <!-- Relative positioning so that the button sits "on top of" the card
          and does not link to the card's href when clicked -->
        <div class="position-relative">
          <a href="/kanbas/home.html" class="text-decoration-none">
            <div class="card">
              <div class="card-header bg-primary">
              </div>
              <div class="card-body pt-2 pb-2">
                <h5 class="card-title text-primary">Course Name</h5>
                <p class="card-text mb-0">Course Code</p>
                <p class="card-text mb-2">Term Code</p>
                <i class="fa-solid fa-book"></i>
              </div>
            </div>
          </a>
          <!-- Added "5%" to Bootstrap $position-values Sass map to use here -->
          <div class="btn-toolbar justify-content-end position-absolute top-5 end-5">
            <button type="button" class="btn">
              <i class="fa-solid fa-ellipsis fa-rotate-90" style="color: white"></i>
            </button>
          </div>
        </div>
      </div>


      <div class="col">
        <!-- Relative positioning so that the button sits "on top of" the card
          and does not link to the card's href when clicked -->
        <div class="position-relative">
          <a href="/kanbas/home.html" class="text-decoration-none">
            <div class="card">
              <div class="card-header bg-info">
              </div>
              <div class="card-body pt-2 pb-2">
                <h5 class="card-title text-info">Course Name</h5>
                <p class="card-text mb-0">Course Code</p>
                <p class="card-text mb-2">Term Code</p>
                <i class="fa-solid fa-book"></i>
              </div>
            </div>
          </a>
          <!-- Added "5%" to Bootstrap $position-values Sass map to use here -->
          <div class="btn-toolbar justify-content-end position-absolute top-5 end-5">
            <button type="button" class="btn">
              <i class="fa-solid fa-ellipsis fa-rotate-90" style="color: white"></i>
            </button>
          </div>
        </div>
      </div>


      <div class="col">
        <!-- Relative positioning so that the button sits "on top of" the card
          and does not link to the card's href when clicked -->
        <div class="position-relative">
          <a href="/kanbas/home.html" class="text-decoration-none">
            <div class="card">
              <div class="card-header bg-success">
              </div>
              <div class="card-body pt-2 pb-2">
                <h5 class="card-title text-success">Course Name</h5>
                <p class="card-text mb-0">Course Code</p>
                <p class="card-text mb-2">Term Code</p>
                <i class="fa-solid fa-book"></i>
              </div>
            </div>
          </a>
          <!-- Added "5%" to Bootstrap $position-values Sass map to use here -->
          <div class="btn-toolbar justify-content-end position-absolute top-5 end-5">
            <button type="button" class="btn">
              <i class="fa-solid fa-ellipsis fa-rotate-90" style="color: white"></i>
            </button>
          </div>
        </div>
      </div>


      <div class="col">
        <!-- Relative positioning so that the button sits "on top of" the card
          and does not link to the card's href when clicked -->
        <div class="position-relative">
          <a href="/kanbas/home.html" class="text-decoration-none">
            <div class="card">
              <div class="card-header bg-info">
              </div>
              <div class="card-body pt-2 pb-2">
                <h5 class="card-title text-info">Course Name</h5>
                <p class="card-text mb-0">Course Code</p>
                <p class="card-text mb-2">Term Code</p>
                <i class="fa-solid fa-book"></i>
              </div>
            </div>
          </a>
          <!-- Added "5%" to Bootstrap $position-values Sass map to use here -->
          <div class="btn-toolbar justify-content-end position-absolute top-5 end-5">
            <button type="button" class="btn">
              <i class="fa-solid fa-ellipsis fa-rotate-90" style="color: white"></i>
            </button>
          </div>
        </div>
      </div>


      <div class="col">
        <!-- Relative positioning so that the button sits "on top of" the card
          and does not link to the card's href when clicked -->
        <div class="position-relative">
          <a href="/kanbas/home.html" class="text-decoration-none">
            <div class="card">
              <div class="card-header bg-primary">
              </div>
              <div class="card-body pt-2 pb-2">
                <h5 class="card-title text-primary">Course Name</h5>
                <p class="card-text mb-0">Course Code</p>
                <p class="card-text mb-2">Term Code</p>
                <i class="fa-solid fa-book"></i>
              </div>
            </div>
          </a>
          <!-- Added "5%" to Bootstrap $position-values Sass map to use here -->
          <div class="btn-toolbar justify-content-end position-absolute top-5 end-5">
            <button type="button" class="btn">
              <i class="fa-solid fa-ellipsis fa-rotate-90" style="color: white"></i>
            </button>
          </div>
        </div>
      </div>



      <div class="col">
        <!-- Relative positioning so that the button sits "on top of" the card
          and does not link to the card's href when clicked -->
        <div class="position-relative">
          <a href="/kanbas/home.html" class="text-decoration-none">
            <div class="card">
              <div class="card-header bg-success">
              </div>
              <div class="card-body pt-2 pb-2">
                <h5 class="card-title text-success">Course Name</h5>
                <p class="card-text mb-0">Course Code</p>
                <p class="card-text mb-2">Term Code</p>
                <i class="fa-solid fa-book"></i>
              </div>
            </div>
          </a>
          <!-- Added "5%" to Bootstrap $position-values Sass map to use here -->
          <div class="btn-toolbar justify-content-end position-absolute top-5 end-5">
            <button type="button" class="btn">
              <i class="fa-solid fa-ellipsis fa-rotate-90" style="color: white"></i>
            </button>
          </div>
        </div>
      </div>




      <div class="col">
        <!-- Relative positioning so that the button sits "on top of" the card
          and does not link to the card's href when clicked -->
        <div class="position-relative">
          <a href="/kanbas/home.html" class="text-decoration-none">
            <div class="card">
              <div class="card-header bg-secondary">
              </div>
              <div class="card-body pt-2 pb-2">
                <h5 class="card-title text-secondary">Course Name</h5>
                <p class="card-text mb-0">Course Code</p>
                <p class="card-text mb-2">Term Code</p>
                <i class="fa-solid fa-book"></i>
              </div>
            </div>
          </a>
          <!-- Added "5%" to Bootstrap $position-values Sass map to use here -->
          <div class="btn-toolbar justify-content-end position-absolute top-5 end-5">
            <button type="button" class="btn">
              <i class="fa-solid fa-ellipsis fa-rotate-90" style="color: white"></i>
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>