<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/index.css">

<!--  -->
<!--  -->

<div class="container-fluid">

  <div class="grades-page">
    <div class="btn-toolbar justify-content-end">
      <button type="button" class="btn btn-secondary me-1">Import</button>

      <div title="export-dropdown-button" class="btn-group me-1">
        <button type="button" class="btn btn-secondary">Export</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
          aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
      </div>

      <button type="button" class="btn btn-secondary">
        <i class="fa fa-cog"></i>
      </button>
    </div>

    <form>
      <div class="row">
        <div class="col">
          <label for="filter-student-names" class="form-label">
            <h2>Student Names</h2>
          </label>
          <input type="text" class="form-control" id="filter-student-names" aria-describedby="filter-student-names"
            placeholder=" &#xF002; Search Students" style="font-family:Arial, FontAwesome">
        </div>
        <div class="col">
          <label for="filter-assignment-names" class="form-label">
            <h2>Assignment Names</h2>
          </label>
          <input type="text" class="form-control" id="filter-assignment-names"
            aria-describedby="filter-assignment-names" placeholder=" &#xF002; Search Assignments"
            style="font-family:Arial, FontAwesome">
        </div>
      </div>
      <button class="btn btn-secondary mt-2">
        <i class="fa-solid fa-filter pe-2"></i>Apply Filters
      </button>
    </form>

    <div class="table-responsive">
      <table name="grades-table" class="table table-striped table-bordered table-sm table-hover text-center">
        <thead>
          <tr>
            <th scope="col" class="text-start">Student Name</th>
            <th scope="col">A1 SETUP</th>
            <th scope="col">A2 HTML</th>
            <th scope="col">A3 CSS</th>
            <th scope="col">A4 BOOTSTRAP</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-primary text-start">Student 1</td>
            <td>
              <input type="text" value="80" />
            </td>
            <td>87</td>
            <td>92</td>
            <td>
              <input type="text" value="77" />
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-primary text-start">Student 2</td>
            <td>
              <input type="text" value="84" />
            </td>
            <td>87</td>
            <td>
              <input type="text" value="91" />
            </td>
            <td>96</td>
          </tr>
          <tr>
            <th scope="row" class="text-primary text-start">Student 3</td>
            <td>84</td>
            <td>87</td>
            <td>72</td>
            <td>
              <input type="text" value="87" />
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-primary text-start">Student 4</td>
            <td>87</td>
            <td>
              <input type="text" value="98" />
            </td>
            <td>
              <input type="text" value="92" />
            </td>
            <td>86</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>