<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/index.css">

<!--  -->
<!--  -->

<div class="row">

  <div class="col-1">
    <div class="kanbas-navigation-sidebar d-none d-sm-flex flex-column bg-black">
      <img src="/images/kanbas-navbar-nu-logo.jpg" alt="">

      <ul class="nav nav-pills flex-column text-center">
        <li>
          <a href="/kanbas/account.html" class="nav-link ">
            <img class="img-fluid rounded-circle" src="/images/blank-profile-photo.jpg" alt="">
            Account
          </a>
        </li>
        <li>
          <a href="/kanbas/dashboard.html" class="nav-link active">
            <i class="fas fa-tachometer-alt fa-2x d-block wd-icon-primary"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a href="/kanbas/course-navigation.html" class="nav-link ">
            <i class="fa-solid fa-book fa-2x d-block wd-icon-primary"></i>
            Courses
          </a>
        </li>
        <li>
          <a href="#" class="nav-link ">
            <i class="fa-regular fa-calendar-days fa-2x d-block wd-icon-primary"></i>
            Calendar
          </a>
        </li>
        <li>
          <a href="#" class="nav-link ">
            <i class="fa-solid fa-inbox fa-2x d-block wd-icon-primary"></i>
            Inbox
          </a>
        </li>
        <li>
          <a href="#" class="nav-link ">
            <i class="fa-regular fa-clock fa-2x d-block wd-icon-primary"></i>
            History
          </a>
        </li>
        <li>
          <a href="#" class="nav-link ">
            <i class="fa-solid fa-tv fa-2x d-block wd-icon-primary"></i>
            Studio
          </a>
        </li>
        <li>
          <a href="#" class="nav-link ">
            <div class="fa-stack wd-icon-primary">
              <i class="fa-solid fa-c fa-stack-2x"></i>
              <i class="fa-solid fa-arrow-right fa-stack-1x"></i>
            </div><br>
            Commons
          </a>
        </li>
        <li>
          <a href="#" class="nav-link ">
            <i class="fas fa-question-circle fa-2x d-block wd-icon-primary"></i>
            Help
          </a>
        </li>
    </div>
  </div>

  <div class="col-1 d-md-none"></div>

  <div class="col-sm-10 ps-4">
    <div class="container-fluid">


      <!-- Page content goes here -->





    </div>
  </div>
</div>