<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/index.css">

<!--  -->
<!--  -->

<div class="container-fluid">

  <!-- Dashboard -->
  <div class="nav-bar-dashboard">
    <h1 class="display-5">Display 3</h1>
  </div>

  <!-- Assignments page -->
  <div class="nav-bar-assignments">
    <div class="row pt-2">
      <div class="col-1">
        <a href="#">
          <i class="fa-solid fa-bars fa-2x"></i>
        </a>
      </div>
      <div class="col">
        <a href="#" class="link-primary link-underline-opacity-0">CS5610.1174.202310</a> > Assignments
      </div>
      <div class="col">
        <div class="btn-toolbar justify-content-end">
          <button class="btn btn-secondary">
            <i class="fa-solid fa-glasses"></i>
            Student View
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- Edit Assignments page -->
  <div class="nav-bar-assignments-edit">
    <div class="row pt-2">
      <div class="col-1">
        <a href="#">
          <i class="fa-solid fa-bars fa-2x"></i>
        </a>
      </div>
      <div class="col">
        <a href="#" class="link-primary link-underline-opacity-0">CS5610.1174.202310</a> > Assignments
      </div>
    </div>
  </div>


</div>