<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/index.css">

<!--  -->
<!--  -->

<div class="container-fluid">

  <div class="profile-page">

    <div class="row">
      <div class="col-sm-8 d-grid gap-2">
        <img src="/images/blank-profile-photo.jpg" class="img-fluid rounded-circle col-4 col-sm-5 col-md-4 col-lg-3"
          alt="blank profile photo">
        <h2>Jose Annunziato</h2>

        <h3>Contact</h3>
        <p>No registered services. You can add some on the <a href="#">settings</a> page.</p>

        <h3>Biography</h3>
        <p>Faculty, Software Engineer, AI, Space, and renewables enthusiast.</p>

        <h3>Links</h3>
        <a href="https://www.youtube.com/@WebDevTV">
          <i class="fa-solid fa-link text-black"></i>
          YouTube
          <i class="fa-solid fa-up-right-from-square"></i>
        </a>
      </div>
      <div class="col">
        <div class="btn-toolbar justify-content-end">
          <a href="edit.html" class="btn btn-secondary" role="button">
            <i class="fa-solid fa-pencil fa-flip-horizontal"></i>
            Edit Profile
          </a>
        </div>
      </div>

    </div>
  </div>

</div>