<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/index.css">

<!--  -->
<!--  -->

<div class="container-fluid">

  <div class="profile-edit-page">
    <div class="row">
      <div class="col">
        <img src="/images/blank-profile-photo.jpg" class="img-fluid rounded-circle col-6 col-sm-7 col-md-6 col-lg-5"
          alt="blank profile photo">
      </div>
      <div class="col">
        <div class="btn-toolbar justify-content-end">
          <a href="index.html" class="btn btn-secondary" role="button">
            <i class="fa-solid fa-pencil fa-flip-horizontal"></i>
            Cancel Editing
          </a>
        </div>
      </div>
    </div>

    <form>
      <div class="form-group">
        <label for="input-name">Name:*</label>
        <input type="text" id="input-name" class="form-control" value="Jose Annunziato">
      </div>
      <div class="form-group">
        <label for="select-pronouns">Pronouns:</label>
        <select id="select-pronouns" class="form-control">
          <option selected>None...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group">
        <label for="input-title">Title:</label>
        <input type="text" id="input-title" class="form-control">
      </div>

      <div class="form-group">
        <h2>Contact</h2>
        <p>No registered services. You can add some on the <a href="#">settings</a> page.</p>
      </div>

      <div class="form-group">
        <label for="textarea-bio">
          <h2>Biography</h2>
        </label>
        <textarea class="form-control" id="textarea-bio"
          rows="3">Faculty, Software Engineer, AI, Space, and renewables enthusiast.</textarea>
      </div>

      <div class="form-group">
        <h2>Links</h2>

        <div class="row align-items-end pb-2">
          <div class="col">
            <div class="row align-items-end">
              <div class="col">
                <div class="form-group">
                  <label for="input-title-1">Title</label>
                  <input type="text" class="form-control" id="input-title-1" value="YouTube">
                </div>
              </div>
              <div class="col-2">
                <i class="fa-solid fa-arrow-right fa-2x"></i>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-end">
              <div class="col">
                <div class="form-group">
                  <label for="input-url-1">URL</label>
                  <input type="text" class="form-control" id="input-url-1" value="https://www.youtube.com/@WebDevTV">
                </div>
              </div>
              <div class="col-2 me-2">
                <button class="btn text-primary">
                  <i class="fa-solid fa-x fa-2x"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-secondary">Add another link</button>
      </div>

      <hr />

      <div class="form-group btn-toolbar justify-content-end">
        <a href="index.html" class="btn btn-secondary" role="button">Cancel</a>
        <a href="index.html" class="btn btn-primary text-white ms-1" role="button">Save Profile</a>
      </div>
    </form>
  </div>

</div>